<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <title>Angular: Empty Fiddle</title>
<script type="text/javascript">
var myApp = angular.module('myApp', [], function($interpolateProvider) {
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
});
function MyCtrl($scope) {
    $scope.name = 'Alon';
}
</script>
</head>

<body ng-app="myApp" class="ng-scope">
    <div ng-controller="MyCtrl">
    Hello, [[name]]
    </div>
</body></html>
