<!doctype html>
<html lang="en">
<head>
    <title>SpeakUp</title>
    <!-- Required meta tags (bootstrap) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Angular CDN, needs to be in the head so it can compile the rest of the code -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
</head>

<body>
    <div ng-app="app"  class="container">
      {% block content %}{% endblock %}
    </div>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.scss.css')}}">
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Material Icons CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>

</html>
