<hr />


<div class="row">
    <h1 class="col col-offset-5"> Submit an audio file </h1>
</div>

<div class="row card">
    <div class="col-1">
	<!-- TODO: Figure out how to draw a circle around this instead of this weird square -->
	<i class="material-icons btn badge " style="font-size: 80px">mic</i>	
    </div>
    <div class="col">
	<h1>Record your voice</h1>
    </div>
</div>
<div class="row card" >
    <div class="col-1">
	<label class="btn btn-primary">
	    {{ alignment_form.audio(style="display: none") }}
	    <i class="material-icons" style="font-size: 80px">file_upload</i>
	</label>
    </div>
    <div class="col">
	<h1>Upload a file</h1>
    </div>
    <div class="col" style="border-style: dashed">
	<h3>Drop files here. Actually it doesn't work.</h3>	
    </div>
</div>

<div class="row">
    <h1 class="col col-offset-5"> Submit a transcript </h1>
</div>

<div class="row card" >
    <div class="col-1">
	<label class="btn btn-default btn-file badge">
	    <i class="material-icons" style="font-size: 80px">file_upload</i>
	    {{ alignment_form.transcript(style="display: none") }}
	</label>
    </div>
    <div class="col">
	<h1>Upload a file</h1>
    </div>
    <div class="col" style="border-style: dashed">
	<h3>Drop files here. Actually it doesn't work.</h3>	
    </div>
</div>

<div class="row">
    {{ alignment_form.send }}
</div>
