{% extends "base.html" %}
{% block content %}
<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='gentleSubmission.js') }}"></script>
<form method="POST">
<div ng-controller="gentleSubmission">

<div class="row">
    <h1 class="col-sm-2 col-sm-offset-5"> Submit an audio file </h1>
</div>

<div class="row well">
    <div class="col-sm-1">
	<!-- TODO: Figure out how to draw a circle around this instead of this weird square -->
	<i class="material-icons btn badge " style="font-size: 80px">mic</i>	
    </div>
    <div class="col-sm-11">
	<h1>Record your voice</h1>
    </div>
</div>
<div class="row well" >
    <div class="col-sm-1">
	<label class="btn btn-default btn-file badge">
	    <i class="material-icons" style="font-size: 80px">file_upload</i>
	    {{ alignment_form.audio(style="display: none") }}
	</label>
    </div>
    <div class="col-sm-3">
	<h1>Upload a file</h1>
    </div>
    <div class="col-sm-8" style="border-style: dashed">
	<h3>Drop files here. Actually it doesn't work.</h3>	
    </div>
</div>

<div class="row">
    <h1 class="col-sm-2 col-sm-offset-5"> Submit a transcript </h1>
</div>

<div class="row well" >
    <div class="col-sm-1">
	<label class="btn btn-default btn-file badge">
	    <i class="material-icons" style="font-size: 80px">file_upload</i>
	    {{ alignment_form.transcript(style="display: none") }}
	</label>
    </div>
    <div class="col-sm-3">
	<h1>Upload a file</h1>
    </div>
    <div class="col-sm-8" style="border-style: dashed">
	<h3>Drop files here. Actually it doesn't work.</h3>	
    </div>
</div>

<div class="row">
	<label class="col-sm-2 col-sm-offset-5 btn btn-default btn-file badge">
	    <input type="submit">Submit</submit>
	</label>
</div>

</div>
</form>
{% endblock %}
