{% extends "base.html" %}
{% from "components.html" import upload_card %}
{% block content %}
<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload_for_alignment.scss.css')}}">
<form method="POST" action="/submit_alignment">
{{ alignment_form.hidden_tag() }}

<div class="boxed-page-title">
    <br />
    <h1> Let's get started </h1>
    <br />
</div>

<div class="upload-container" ng-controller="gentleSubmission">

<div class="a-title upload-container-header">
    <h2> Submit an audio file <h2>
</div>

<div class="and-area upload-container-header">
    <h2> and <h2>
</div>

<div class="t-title upload-container-header">
    <h2> Submit a transcript <h2>
</div>

<div class="upload-card-a card text-center">
    {{ upload_card(alignment_form.audio) }}
</div>

<div class="upload-card-t card text-center">
    {{ upload_card(alignment_form.transcript) }}
</div>

<div class="record-card-a card text-center">
    <h3 class="card-title">
	Record
    </h3>
    <p class="card-text"> Press the button below to start recording.</p>
    <div class="card-block">
	<!-- TODO: Figure out how to draw a circle around this instead of this weird square -->
	<i class="material-icons btn btn-primary" style="font-size: 80px">mic</i>	
    </div>
</div>




</div>
</form>
{% endblock %}
